includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 2
    paths:
        - app/
    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
    excludes_analyse:
    excludePaths:

