includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 8
    paths:
        - app/
        - resources/
        - config/
    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
    excludes_analyse:
    excludePaths:

