
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-suggest-password {
    background-color: #007bff;
    border: 1px solid #ced4da;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.5;
    min-width: 190px;
}

.btn-suggest-password:hover {
    background-color: #0056b3;
    color: white;
    border: 1px solid #0056b3;
}

.btn-suggest-password .fa-lock {
    margin-right: 5px;
}

.footer {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.footer h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.footer p {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.footer ul li {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    color: #666;
    font-size: 20px;
    line-height: 36px;
    transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #00a0d2;
}

.bottom-bar {
    background-color: #333;
    color: #fff;
    padding: 14px;
    text-align: center;
    font-size: 14px;
}

.bottom-bar p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}


footer {
    height: 180px;
    position: fixed;
    left: 0;
    bottom: 0;
}

body {
    padding-bottom: 180px;
}


.navbar-nav li {
    margin: 0 10px;
}

.navbar-nav li:first-child {
    margin-left: 0;
}

.navbar-nav li:last-child {
    margin-right: 0;
}
