@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    color:#4a8df8;
    font-weight:100;
    font-stretch:normal;
    font-size:3em;
}
a{
    color:#4a8df8;
}
.slider{
    position:relative;
    width:400px;
    height:2px;
}
.line{
    position:absolute;
    background:#4a8df8;
    width:400px;
    height:2px;
}
.break{
    position:absolute;
    background:#fff;
    width:20px;
    height:2px;
    left: 0;
}

.dot1{
    animation: loading 2s infinite;
}
.dot2{
    animation: loading 2s 0.5s infinite;
}
.dot3{
    animation: loading 2s 1s infinite;
}

@keyframes loading {
    from { left: 0; }
    to { left: 400px; }
}
